// Colors

$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);
$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);

// Fonts
$main-font-family: "Ubuntu", sans-serif;
$main-font-size: 16px;

// Text
@mixin textInEvidence {
    color: $marine-blue;
}

// Button
@mixin button($color, $background-color, $horizontalPadding) {
    color: $color;
    background-color: $background-color;
    text-transform: capitalize;
    padding: 10px $horizontalPadding;
    margin-top: 1em;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

body {
    font-family: $main-font-family;
    font-size: $main-font-size;
    background-color: $magnolia;

    main {
        #wrapper {
            width: 50rem;
            max-height: 568px;
            border-radius: 20px;
            background-color: $alabaster;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            padding: 1em;

            nav {
                width: 30%;
                background-image: url(./assets/images/bg-sidebar-desktop.svg);
                background-position: bottom;
                border-radius: 10px;
            }
            section {
                color: $cool-gray;
                padding: 0 3em;
                width: 58%;

                h1 {
                    color: $marine-blue;
                    font-size: xx-large;
                }

                label {
                    display: inline-block;
                }

                #step1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .input-form {
                        padding: 10px 0;

                        .input-info {
                            font-size: small;
                            padding: 10px 0;
                            display: flex;
                            justify-content: space-between;

                            .validation-error {
                                color: $strawberry-red;
                                font-weight: bold;
                            }
                        }

                        input {
                            color: $marine-blue;
                            font-weight: bold;
                            width: calc(100% - 20px);
                            font-size: $main-font-size;
                            background-color: transparent;
                            border: 1px solid $light-gray;
                            border-radius: 5px;
                            padding: 10px;

                            &::placeholder {
                                color: $cool-gray;
                                font-size: $main-font-size;
                                font-weight: normal;
                            }

                            &.ng-invalid.ng-touched {
                                border-color: $strawberry-red;
                            }

                            &:focus {
                                border-color: $purplish-blue;
                            }
                        }
                    }

                    .form-closure {
                        text-align: right;
                        margin-top: 3em;
                    }

                    .next-button {
                        @include button($alabaster, $marine-blue, 20px);

                        &:hover {
                            filter: brightness(1.8);
                        }

                        &[disabled] {
                            background-color: $pastel-blue;
                            cursor: auto;
                        }

                        &[disabled]:hover {
                            filter: none;
                        }
                    }

                    .back-button {
                        @include button($cool-gray, transparent, 0);

                        &:hover {
                            filter: brightness(0.8);
                        }
                    }
                }
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        .attribution {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 15px 0;
        }
    }
}
