// Colors

$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);
$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// Fonts
$main-font-family: "Ubuntu", sans-serif;
$main-font-size: 16px;

body {
    font-family: $main-font-family;
    font-size: $main-font-size;
    background-color: $magnolia;

    main {
        #wrapper {
            width: 50rem;
            border-radius: 20px;
            background-color: $alabaster;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            padding: 1em;

            nav {
                width: 30%;
                background-image: url(./assets/images/bg-sidebar-desktop.svg);
            }
            section {
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        .attribution {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 15px 0;
        }
    }
}
